.content{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/*INFO COLUMN CSS*/
.info_column{
	width: 1200px;
	margin: 0 auto;

	position: absolute;
	top: 225px;
}

.info_column1{
	width: 575px;
	height: 450px;

	margin: 10px;

	float: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:rgba(226, 226, 226, 0.7);

}

.info_column1 p{
	font-family: "flower";
	font-size: 2.2em;
	padding: 10px;
	color: black;
	text-align: left;
	}

.info_column2{
	width: 550px;
	height: 400px;

	margin: 10px;

	float: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color:rgba(226, 226, 226, 0.7);
}

.info_column2 p{
	font-size: 1em;
	font-weight: bold;
	color: white;
}

/*HEADER CSS*/

.headerbox{
  width: 1200px;
  height: 300px;
  position: absolute;
  left: 50%
  transform: translate(-50%, -50%);
  top: 50px;
  border: 1px hidden;
}

.headertext {
  margin-left: auto;
  margin-right: auto;
  font-family: "flower";
  font-size: 7em;
  color: #5cd9fd;
}

.instructiontext{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "amatic";
  color: white;
  font-size: 2em;
  width: 200px;
}

.flavortext{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "flower";
  font-size: 3em;
}


/*NAVIGATION DIVS*/
.menu {
  position: absolute;
  width: 500px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "flower";
  font-size: 3em;
}

.nav_element1 {
  height: 50px;
  width: 125px;
  position: absolute;
  left: 0%;
}

.nav_element2 {
  height: 50px;
  width: 125px;
  position: absolute;
  left: 38%;
}

.nav_element3 {
  height: 50px;
  width: 125px;
  position: absolute;
  right: 0%;
}


/*PROFILE PIC*/
.profile_wrapper {
	width: 400px;
	height: 600px;

	position: absolute;
	top: 0;
	left:10%;
}

.profile_pic {
	width: 200px;
	height: 200px;


	background: url("../img/face1.png") center center;
  	background-size: 200px 200px;
  	-webkit-clip-path: circle(100px at center);
	clip-path: circle(100px at center);
  	transition: 0.3s cubic-bezier(1, -1, 0, 2);

	position: absolute;
	left: 0%;
	margin-left: -100px;
	top: 40%;
	z-index: 20;

}

.profile_pic:hover {
   	-webkit-clip-path: circle(110px at center);
	clip-path: circle(110px at center);
}

.bubble_text{
 font-family: "flower";
  font-size: 3em;
  color: #5cd9fd;

}

.bubble
{
width: 400px;
height: 175px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 4px;

position: absolute;
top: 5%;
left: 50%;
margin-left: -200px;
z-index: -1;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 70px;
}

/*SOCIAL MEDIA ICONS*/

.media_icons{
	width: 400px;
	height:55px;
	transition: 0.3s;
	position: absolute;
	top: 50%;
	left: 5%;
}

.email_me{
	width: 50px;
	height: 50px;
	background-image: url("../img/email.png");
	background-size: 50px 50px;
	transition: 0.3s;
	position: absolute;
	left: 0%;
	opacity: 0.5;
}

.email_me:hover{
	opacity: 1;
}

.instagram_me{
	width: 50px;
	height: 50px;
	background-image: url("../img/instagram.png");
	background-size: 50px 50px;
	transition: 0.3s;
	position: absolute;
	left: 25%;
	opacity: 0.5;
}

.instagram_me:hover{
	opacity: 1;
}

.github_me{
	width: 50px;
	height: 50px;
	background-image: url("../img/github.png");
	background-size: 50px 50px;
	transition: 0.3s;
	position: absolute;
	left: 50%;
	opacity: 0.5;
}

.github_me:hover{
	opacity: 1;
}

.linkedin_me{
	width: 50px;
	height: 50px;
	background-image: url("../img/linkedin.png");
	background-size: 50px 50px;
	transition: 0.3s;
	position: absolute;
	left: 75%;
	opacity: 0.5;
}

.linkedin_me:hover{
	opacity: 1;
}