html {
  background: #52bb9d;
}
.bmo {
  width: 356px;
  height: 500px;
  margin-top: -250px;
  margin-left: -178px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.bmo .face {
  margin: 0 auto;
  position: relative;
  width: 98%;
  height: 50%;
  border: 1px solid #29705e;
  background: #d5fedc;
  border-radius: 11%;
  box-shadow: inset 0 -2px 6px #11733a;
}
.bmo .face .eye {
  background: #021502;
  width: 5.1%;
  height: 7.2%;
  position: absolute;
  top: 41%;
  border-radius: 50%;
}
.bmo .face .eye.first {
  left: 17%;
}
.bmo .face .eye.second {
  right: 17%;
}
.bmo .face .mouth-wrapper {
  position: absolute;
  top: 63%;
  left: 50%;
  width: 19%;
  height: 22%;
  margin-left: -9.5%;
}
.bmo .face .mouth {
  position: relative;
  background: #42b84a;
  overflow: hidden;
  border: 1px solid #2f3f32;
  transition: all .1s linear .1s;
  margin: 0 auto;
  width: 100%;
  height: 0.001%; /* fix for ie/mozilla*/
}
.bmo .face .mouth .teeth {
  background: #f7fcf5;
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 20%;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #3b3b3b;
  transform: rotate(-5deg);
}
.bmo .face .mouth .throat {
  background: #64fc73;
  position: absolute;
  bottom: -60%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.bmo .face.oh .mouth {
  height: 100%;
  margin-top: -11%;
  border-radius: 50%;
}
.bmo .face.small-oh .mouth {
  height: 50%;
  width: 50%;
  margin-top: -11%;
  border-radius: 50%;
}
.bmo .face.smile .mouth {
  height: 100%;
  margin-top: -11%;
  border-radius: 20% 20% 60% 60%;
}
.bmo .face.square .mouth {
  height: 100%;
  margin-top: -11%;
}
.bmo .slot {
  width: 56%;
  height: 4.8%;
  background: #204937;
  border: 1px solid #1f2c25;
  position: absolute;
  top: 55.6%;
  box-shadow: 0 0px 3px #388075;
}
.bmo .button {
  box-shadow: 0 0px 3px #388075;
}
.bmo .button.a,
.bmo .button.b,
.bmo .button.d {
  position: absolute;
  border-radius: 50%;
}
.bmo .button.a {
  background: #e40062;
  width: 20%;
  height: 14.5%;
  border: 1px solid #3b1d29;
  bottom: 0;
  right: 9%;
  box-shadow:
    0 -2px 0px #690029,
    0 -3px 0 #25161d,
    0 0px 3px #388075;
}
.bmo .button.b {
  background: #2fff49;
  width: 10%;
  height: 7%;
  border: 1px solid #243928;
  right: 0;
  bottom: 14.4%;
  box-shadow:
    0 -2px 0px #197d25,
    0 -3px 0 #162d1b,
    0 0px 3px #388075;
}
.bmo .button.a:active,
.bmo .button.b:active {
  box-shadow: 0 0px 3px #388075;
  margin-bottom: 3px;
}
.bmo .button.d:active,
.bmo .button.start:active,
.bmo .button.select:active {
  box-shadow: inset 0 0px 3px #388075;
}
.bmo .button.d {
  background: #1101a2;
  width: 8.4%;
  height: 5.6%;
  border: 1px solid #15057f;
  top: 55.6%;
  right: 11px;
}
.bmo .button.start,
.bmo .button.select {
  position: absolute;
  left: 7%;
  top: 92%;
  background: #343f99;
  border-color: #272636;
  border-style: solid;
  border-width: 1px;
  border-radius: 35%;
  width: 8%;
  height: 2.5%;
}
.bmo .button.start {
  left: 20%;
}
.bmo .directional-pad,
.bmo .directional-pad .button {
  background: #f9ee34;
  position: absolute;
}
.bmo .directional-pad {
  width: 9%;
  height: 6.5%;
  top: 70%;
  left: 7%;
  margin: 5% 5.9%;
}
.bmo .directional-pad .button {
  border: 1px solid #686226;
  z-index: -1;
  border-sizing: border-box;
}
.bmo .directional-pad .left,
.bmo .directional-pad .right {
  width: 56%;
  height: 100%
}
.bmo .directional-pad .up,
.bmo .directional-pad .down {
  width: 100%;
  height: 56%;
}
.bmo .directional-pad .up,
.bmo .directional-pad .left,
.bmo .directional-pad .right {
  box-shadow:
    0 -1px 0 #1f261f,
    0 -3px 0px #797217,
    0 -4px 0 #1f261f,
    0 0px 3px #388075;
}
.bmo .directional-pad .up {
  bottom: 100%;
  border-bottom-color: transparent;
  border-radius: 20% 20% 0% 0%;
}
.bmo .directional-pad .down {
  top: 100%;
  border-top-color: transparent;
  border-radius: 0% 0% 20% 20%;
}
.bmo .directional-pad .left {
  position: absolute;
  right: 100%;
  border-right-color: transparent;
  border-radius: 20% 0% 0% 20%;
}
.bmo .directional-pad .right {
  position: absolute;
  left: 100%;
  border-left-color: transparent;
  border-radius: 0% 20% 20% 0%;
}

.bmo .button.c {
  position: absolute;
  right: 13.5%;
  bottom: 21%;
  background: transparent;
  border: 0;
  color: #80f9ef;
  font-size: 3em;
  text-decoration: none;
  box-shadow: none;
  text-stroke: 1px #0D1918;
  text-shadow:
    0 -2px 0 #5AAEA7,
    0 -4px 0 #0D1918,
    0 0px 3px #388075;
}
.bmo .button.c:after{
  content: '▲';
}
.bmo .button.c:active {
  text-shadow: 0 0px 3px #388075;
  margin-bottom: 3px;
}