/*BOTTOM BAR*/
.bottom_bar{
	width: 1200px;
	height: 1000px;
	position: absolute;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background: #E2E2E2;
	z-index: -5;
}

.info_column{
	width: 1200px;
	height: 400px;
	top: -145px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.info_column1{
	width: 800px;
	height: 350px;

	position: absolute;
	top: 5%;
}

.info_column1 p{
	font-size: 1.5em;
	color: black;
	margin-left: 50px;
	margin-right: 50px;
}

.info_column2{
	width: 300px;
	height: 350px;
	position: absolute;
	right: 5%;
	top: 5%;
	border: solid white 1px;
}

.info_column2 p{
	font-size: 1em;
	font-weight: bold;
	color: white;
}


/*MIDDLE BANNER*/
.middle_banner{
	width: 1000px;
	height: 50px;
	top: -120px;
	position: relative;
	margin: 0 auto;
	background-color: #52bb9d;
/*	background: url("../img/congruent_pentagon.png");
*/	z-index: -1;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


/*TOP BAR*/

.top_bar{
	width: 800px;
	height: 400px;
	top: 20px;
	right: 0;
	position: relative;
	margin: 0 auto;
}

.profile_pic {
	width: 200px;
	height: 200px;

	background: url("../img/face.png") center center;
  	background-size: 200px 200px;
  	-webkit-clip-path: circle(100px at center);
	clip-path: circle(100px at center);
  	transition: 0.3s cubic-bezier(1, -1, 0, 2);

	position: absolute;
	left: 50%;
	top: 37%;
	margin-left: -100px;
}

.profile_pic:hover {
   	-webkit-clip-path: circle(110px at center);
	clip-path: circle(110px at center);
}


.bubble 
{
width: 400px;
height: 125px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 4px;

position: absolute;
left: 50%;
margin-left: -200px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 110px;
}

.bubble p{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

/*SOCIAL MEDIA ICONS*/

.media_icons{
	width: 400px;
	height:55px;
	transition: 0.3s;
	position: absolute;
	top: 70%;
	left: 5%;
}

.email_me{
	width: 50px;
	height: 50px;
	background-image: url("../img/email.png");
	background-size: 50px 50px;
	transition: 0.3s;
	position: absolute;
	left: 0%;
	opacity: 0.5;
}

.email_me:hover{
	opacity: 1;
}

.instagram_me{
	width: 50px;
	height: 50px;
	background-image: url("../img/instagram.png");
	background-size: 50px 50px;
	transition: 0.3s;
	position: absolute;
	left: 25%;
	opacity: 0.5;
}

.instagram_me:hover{
	opacity: 1;
}

.github_me{
	width: 50px;
	height: 50px;
	background-image: url("../img/github.png");
	background-size: 50px 50px;
	transition: 0.3s;
	position: absolute;
	left: 50%;
	opacity: 0.5;
}

.github_me:hover{
	opacity: 1;
}

.linkedin_me{
	width: 50px;
	height: 50px;
	background-image: url("../img/linkedin.png");
	background-size: 50px 50px;
	transition: 0.3s;
	position: absolute;
	left: 75%;
	opacity: 0.5;
}

.linkedin_me:hover{
	opacity: 1;
}