/*CSS Relevent for homescreen only*/

/*CONTENT*/

.content{
	height: 700px;
	width: 1200px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	/*background-image: url("../img/congruent_pentagon.png");*/
}

/*NAVIGATION DIVS*/

.homenav {
	height: 4.2em;
	width: 700px;
	position: absolute;
	top: 10%;
	left: 52%;
	color: white;
}


.nav_element1 {
	position: relative;
	left: 0%;
	top: 0%;
}

.nav_element2 {
	position: relative;
	left: 30%;
	top: -100%;
}

.nav_element3 {
	position: relative;
	left: 60%;
	top: -200%;
}


/*SHAPES*/

.nav_button{
	display: inline-block;
	height: 2.1em;
	width: 175px;

	font-size: 2em;
	font-weight: bold;
	text-align: center;
	line-height: 2.1em;
}

/*.decoration_bar{
	display: inline-block;
	position: absolute;
	height: 2.1em;
	width: 8px;
	left: 0px;
	background-image: url("../img/congruent_pentagon.png");
}

.nav_button:hover .decoration_bar{
	display: inline-block;
}

.nav_button .decoration_bar {
    display: none;
}
*/