/*CSS Relevent for homescreen only*/

/*CONTENT*/
.content{
	height: 700px;
	width: 1200px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	cursor: default;
}


/*HIGHLIGHT TEXT DIV*/
.hometext {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	color: white;
	font-family: "flower";
	font-size: 6em;
	width: auto;
}

#titletext{
	color: #5cd9fd;
}

.flavortext{
	position: absolute;
	top: 525px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: "flower";
	font-size: 3em;
}

.sophie_descriptor{
	margin-top: 22%;
	margin-left: 700px;
	font-family: "flower";
	color: #d5fedc;
	font-size: 4em;
}

/*NAVIGATION DIVS*/
.menu {
	position: absolute;
	width: 500px;
  	top: 575px;
  	left: 50%;
  	transform: translate(-50%, -50%);
	color: white;
	font-family: "flower";
	font-size: 3em;
}

.nav_element1 {
	height: 50px;
	width: 125px;
	position: absolute;
	left: 0%;
}

.nav_element2 {
	height: 50px;
	width: 125px;
	position: absolute;
	left: 38%;
}

.nav_element3 {
	height: 50px;
	width: 125px;
	position: absolute;
	right: 0%;
}