/*CSS Relevent for homescreen only*/

/*CONTENT*/
.content{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	cursor: default;
}


/*HIGHLIGHT TEXT DIV*/
.hometext {	
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	color: white;
	font-family: "flower";
	font-weight: 600;
	font-size: 6em;
	text-align: center;
}

#titletext{
	color: #5cd9fd;
}

.s_des_holder{
	margin-top: -25px;
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 80px;
	outline: black dotted thick;
}

.sophie_descriptor{
	margin-top: -25px;
	position: relative;
	margin: 0 auto;
	width: 700px;
	height: 80px;

	font-family: "flower";
	text-align: center;
	font-weight: normal;
	color: #CEF4FE;
	font-size: 70%;
}

.name{
	position: relative;
	margin-bottom: 30px;
}

.flavortext{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: "flower";
	font-size: 3em;
}

/*NAVIGATION DIVS*/
.menu {
	position: absolute;
	width: 500px;
  	top: 78%;
  	left: 52%;
  	transform: translate(-50%, -50%);
	color: white;
	font-family: "flower";
	font-size: 3em;
}

.nav_element1 {
	height: 50px;
	width: 125px;
	position: absolute;
	left: 0%;
}

.nav_element2 {
	height: 50px;
	width: 125px;
	position: absolute;
	left: 33%;
}

.nav_element3 {
	height: 50px;
	width: 125px;
	position: absolute;
	right: 0%;
}