.content{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/*HEADER CSS*/

.headerbox{
  width: 1200px;
  height: 300px;
  position: absolute;
  left: 50%
  transform: translate(-50%, -50%);
  top: 50px;
  border: 1px hidden;
}

.headertext {
  margin-left: auto;
  margin-right: auto;
  font-family: "flower";
  font-size: 7em;
  color: #5cd9fd;
}

.instructiontext{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "amatic";
  color: white;
  font-size: 2em;
  width: 200px;
}

.flavortext{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "flower";
  font-size: 3em;
}


/*NAVIGATION DIVS*/
.menu {
  position: absolute;
  width: 500px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "flower";
  font-size: 3em;
}

.nav_element1 {
  height: 50px;
  width: 125px;
  position: absolute;
  left: 0%;
}

.nav_element2 {
  height: 50px;
  width: 125px;
  position: absolute;
  left: 38%;
}

.nav_element3 {
  height: 50px;
  width: 125px;
  position: absolute;
  right: 0%;
}


/*PROJECT GALLERY CSS*/
.project_gallary{
  position: absolute;
  top: 225px;
  left: 50%;
  transform: translate(-50%);
  width: 1200px;
  height: auto;
}




.projContainer {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 320px;
  height: 520px;
  cursor: pointer;
  margin: 20px;
  border: 20px solid #7F7F7F;
}



/*PROJ Hover switchy stuff*/
.projContainer img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.projContainer:hover img.top{
  opacity:0;
}


/*.projContainer:hover h2 {
  padding-top: 10%;
}*/

.projInfoContainer {
  position: absolute;
  background: rgba(255,255,255,1);
  width: 75%;
  height: 10%;
  top: 150%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
  border: #7F7F7F solid 4px;

  font-family: "amatic";
  text-align: center;
  font-size: 2.7em;
  font-weight: 550;
  color: #7F7F7F;
}


.projContainer:hover .projInfoContainer {
  top: 75%;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

.projCat {
  color: #5cd9fd;
}

.projSpec {
 color: #aaa;
 font-family: sans-serif;
}