.bmo_background {
  width: 500px;
  height: 375px;
  border-radius: 3%;
  background: #52bb9d;
  top: 28%;
  right: 2%;
  position: absolute;
}

.bmo {
  width: 460px;
  height: 325px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.bmo .face {
  margin: 0 auto;
  position: relative;
  width: 98%;
  height: 100%;
  background: #d5fedc;
  border-radius: 7%;
/*  box-shadow: inset 0 -2px 6px #11733a;
*/}
.bmo .face .eye {
  background: #021502;
  width: 40px;
  height: 50px;
  /*border-radius: 50%;
  width: 5.1%;
  height: 7.2%;*/
  position: absolute;
  top: 30%;
  border-radius: 50%;
}

.bmo .face .eye.first {
  left: 20%;
}
.bmo .face .eye.second {
  right: 20%;
}
.bmo .face .mouth-wrapper {
  position: absolute;
  top: 63%;
  left: 50%;
  width: 19%;
  height: 22%;
  margin-left: -9.5%;
}
.bmo .face .mouth {
  position: relative;
  background: #42b84a;
  overflow: hidden;
  transition: all .1s linear .1s;
  margin: 0 auto;
  width: 100%;
  height: 0.001%; /* fix for ie/mozilla*/
}

.bmo .face .mouth .throat {
  background: #64fc73;
  position: absolute;
  bottom: -60%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.bmo .face.oh .mouth {
  height: 100%;
  margin-top: -11%;
  border-radius: 50%;
}
.bmo .face.small-oh .mouth {
  height: 50%;
  width: 50%;
  margin-top: -11%;
  border-radius: 50%;
}
.bmo .face.smile .mouth {
  height: 100%;
  margin-top: -11%;
  border-radius: 20% 20% 60% 60%;
}
.bmo .face.square .mouth {
  height: 100%;
  margin-top: -11%;
}

.bubble 
{
position: relative;
width: 540px;
height: 600px;
padding: 15px;
background: #FFFFFF;
-webkit-border-radius: 28px;
-moz-border-radius: 28px;
border-radius: 28px;
border: #7F7F7F solid 6px;
left: 0%;
top: 5%;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 20px 0 20px 41px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -20px;
right: -41px;
top: 65%;
}

/*.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 25px 0 25px 46px;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
margin-top: -25px;
right: -52px;
top: 74%;
}*/