/*CURRENT CUSTOM CSS*/

body {
	margin: 0 0 0 0 !important;
	padding: 0;
	background-image: url("../img/backgrounds/bright_squares_@2X.png");
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	background-color:rgba(0,0,0, 0.7);

}

h1{
	font-weight: normal;
	font-size: 2em;
}

/*DEFINING GLOBAL LINK DEFINITIONS*/
/*Default set to inherit from parent div, TO-DO: Set defaults*/

a:link {
	text-decoration: none;
    color: #5cd9fd;

}

a:visited {
	text-decoration: none;
    color: #5cd9fd;
}

a:hover {
	text-decoration: none;
    color: #AEECFE;
}

a:active {
	text-decoration: none;
    color: #5cd9fd;
}