/*CURRENT CUSTOM CSS*/

body {
	margin: 0 0 0 0 !important;
	padding: 0;
	background-image: url("../img/dark_angles.png");
	font-family: "poiret";
}


/*HEADER CSS*/

.header {
	padding: 50px 0;
	font-family: "soon";
	font-size: 700%;
	background-color: #333;
	text-align: center;
	color: #fff;
}

/*NAV BAR*/

.nav {
	padding: 5px 0;
	background-color: white;
	position: -webkit-sticky;
	top: 45px;
	z-index: 1;
	text-align: center;
	color: #000;
	height: 45px;
}

.nav table{
	font-family: "soon";
	font-size: 150%;
	margin: 0 auto;
	margin-top: -35px;
	border-spacing: 40px;
}

.nav td:hover{
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
	font-weight: bold;
}

.sticky {
	position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;
    background-color: slategray; 
    color: #fff;
}  



/*DEFINING GLOBAL LINK DEFINITIONS*/
/*Default set to inherit from parent div, TO-DO: Set defaults*/

a:link {
	text-decoration: none;
    font-weight: bold;
    color: #52bb9d;

}

a:visited {
	text-decoration: none;
    font-weight: bold;
    color: #52bb9d;
}

a:hover {
	text-decoration: none;
    font-weight: bold;
    color: #d5fedc;
}

a:active {
	text-decoration: none;
    font-weight: bold;
    color: #52bb9d;
}


/*DEFINING CUSTOM FONTS*/

@font-face{
	font-family: "flower";
	src: url('../fonts/flower.ttf') format('truetype');
}

@font-face{
	font-family: "poiret";
	src: url('../fonts/poiret.ttf') format('truetype');
}

@font-face{
	font-family: "soon";
	src: url('../fonts/soon.ttf') format('truetype');
}